@model SujetPFE.Domain.Entities.Objective

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Objectif</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValeurCible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValeurCible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValeurActuelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValeurActuelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniteMesure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniteMesure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricule1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricule1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantDepot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantDepot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Activite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
